<form
  class="form pt-4"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="cadastrar()"
>
  <h4 class="text-center">Registre-se e mostre seu pet para o mundo!</h4>

  <div class="form-group mt-4">
    <input
      type="email"
      class="form-control"
      placeholder="E-mail"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched"
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="form.get('email')?.errors?.email && form.get('email')?.touched"
      mensagem="E-mail inválido"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Nome completo"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="form.get('fullName')?.errors?.required && form.get('fullName')?.touched"
      mensagem="Campo obrigatório"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="form.get('userName')?.errors?.required && form.get('userName')?.touched"
      mensagem="Campo obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="form.get('userName')?.errors?.minusculo && form.get('userName')?.touched"
      mensagem="Use somente letras minúsculas"
    ></app-mensagem>
    <app-mensagem
      *ngIf="form.get('userName')?.errors?.usuarioExistente && form.get('userName')?.touched"
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
    />
    <app-mensagem
      *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched"
      mensagem="Campo obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="form.errors?.senhaIgualUsuario"
      mensagem="Senha deve ser diferente do usuário"
    >
    </app-mensagem>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>

  <div class="mt-4 text-center">
    <a [routerLink]="['']"><small>Login</small></a>
  </div>
</form>
