<form
  class="form pt-4"
  autocomplete="off"
  (ngSubmit)="login()"
  #loginForm="ngForm"
>
  <h4 class="text-center">Login</h4>

  <div class="form-group mt-4">
    <input
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      name="usuario"
      [(ngModel)]="usuario"
      #usuarioModel="ngModel"
      required
    />
    <app-mensagem
      *ngIf="usuarioModel.invalid && usuarioModel.touched"
      mensagem="Campo obrigatório"
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      name="senha"
      [(ngModel)]="senha"
      #senhaModel="ngModel"
      required
    />
    <app-mensagem
      *ngIf="senhaModel.invalid && senhaModel.touched"
      mensagem="Campo obrigatório"
    ></app-mensagem>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
